.vis-item {
  border-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 28px !important;
}

.vis-item .vis-item-content {
  /* padding: 5px 8px; */
  font-size: 12px;
  color: white;
  font-weight: bold;
  justify-content: center;
}

.vis-item.vis-selected {
  border-color: #2196F3;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}

.vis-time-axis .vis-text {
  font-size: 12px;
  color: #666;
}

.vis-time-axis .vis-grid.vis-minor {
  border-color: #e5e5e5;
}

.vis-time-axis .vis-grid.vis-major {
  border-color: #d0d0d0;
}

.vis-time-axis.vis-foreground .vis-major {
  display: none;
}

.vis-group {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}

.vis-group:nth-child(odd) {
  background-color: rgba(240, 240, 240, 0.4);
}

.vis-labelset .vis-label {
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
}

.gantt-order-item {
  color: white;
}

.vis-item.vis-range {
  border-radius: 6px !important;
  border-color: transparent !important;
}

.vis-group {
  border-bottom: none !important; 
  background-color: transparent !important; 
  margin: 16px 0 !important; 
  height: 40px !important; 
  overflow: visible !important;
}

.vis-item.vis-range.large-item .vis-item-content::after {
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.vis-labelset {
  width: 10px !important;
  border: none !important;
}

.vis-panel.vis-center .vis-content .vis-item {
  z-index: 30 !important;
  overflow: visible !important;
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.timeline-item-content {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vis-panel.vis-center,
.vis-panel.vis-center .vis-content,
.vis-panel.vis-center .vis-itemset,
.vis-panel.vis-center .vis-foreground {
  z-index: 100 !important;
  overflow: visible !important;
}


@media screen and (max-width: 600px) {
  .vis-item .vis-item-content {
    padding: 5px 0;
  }
}
