.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.gantt-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.route-info {
  padding: 10px;
  background-color: white;
}